.header {
  background-color: #000;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  opacity: 1;
}
.header__log {
  max-width: 173px;
  margin-top: 45px;
  margin-bottom: 41px;
}

@media screen and (max-width: 768px) {
  .header__log {
    max-width: 126px;
    height: 100%;
    margin: 28px 0 0 0;
    margin-bottom: 32px;
    padding-left: 27px;
  }
}

@media screen and (min-width: 769px) and (max-width: 919px) {
  .header__log {
    max-width: 173px;
    padding-left: 20px;
  }
}
